<head>
	<title>Hello</title>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,800,800i|Tangerine" rel="stylesheet">
</head>
<body ng-app="lettil" ng-strict-di="">

	<div class="has-sidebar">
		<ui-view>
		</ui-view>
	</div>
</body>