
.container-wrapper {
    // height: 85vh;
    // overflow: scroll;
    // padding-bottom: 100px;
}

.brand-logo {

    small {
        font-size: 50%;
    }

}

.conainter {
    width: 85%;
}

h6 {
    font-size: 1.3em;
}

.from,
.to {
    margin-top: 0;
    
    h6 {
        margin-bottom: 0;
    }
}

.to {

    .row {
        margin-bottom: 0;
    }

    h6 {
        margin-top: 20px;
    }

    p {
        margin-top: 5px;
    }

}

.mce-edit-focus {
    outline: 0px dotted transparent !important;
}

.address-information button {
    margin-top: 0.4rem;
}



.wrapper {
    outline: none;
}

.page {
    width: 7.5in;
    margin: 0 auto;
    font-family: "Open Sans", sans-serif;

    h1 {
        font-size: 30pt;
        margin: 0 0 20px 0;
    }

    h2 {
        font-size: 26pt;
        margin: 0 0 20px 0;
    }

    h3 {
        font-size: 23pt;
        margin: 0 0 20px 0;
    }

    h4 {
        font-size: 21pt;
        margin: 0 0 20px 0;
    }

    h5 {
        font-size: 19pt;
        margin: 0 0 20px 0;
    }

    h6 {
        font-size: 17pt;
        margin: 0 0 20px 0;
    }

    p {
        font-size: 12pt;
        margin: 0 0 20px 0;
    }

    strong {
        font-weight: bold;
    }

    em {
        font-style: italic;
    }

}

.main {

    *[id^="firstElementOfPage"] {

        &:before {
            content: '';
            display: block;
            width: 100%;
            border-top: 1px solid #CCC;
            margin: 50px 0;
        }

    }

}

.fixed-signature {
    // position: fixed;
    // bottom: 0;
    // left: 0;
    // right: 0;
    // height: 15vh;
    // min-height: 110px;
    // width: 100%;
    // background: white;
    // border-top: 1px solid #9e9e9e;
    // padding: 10px 0;
    padding-bottom: 40px;
    padding-top: 30px;

    

    .page {
        width: 7.5in;

        .row {
            margin-bottom: 0;
            min-height: 88px;

            h2.signature {
                font-family: 'Tangerine', cursive;
                margin-top: 10px;
                margin-bottom: 0;
                margin-left: 5px;
                font-size: 3rem;
            }

        }

    }

}

#ready {
    margin-top: 30vh;
    width: 30%;
    max-width: 400px;


    h6 {
        margin-bottom: 0px;
        font-size: 1.4rem;

    }

    p {
        margin-bottom: 30px;
    }

    button {
        width: 130px;
    }

}

#email {

    small {
        float: right;
    }

}

.bold {
    font-weight: bold;
}

.to-cta {

    p {
        margin: 0;
        margin-top: 6px;

        button {
            margin: 0;
        }

        .or {
            margin-left: 6px;
            margin-right: 6px;
        }

    }

}

.remove-csv {
    top: 3px;
    font-size: 2rem;
    margin-left: 8px;
    position: relative;
}

div#medium-editor-toolbar-1 {
    margin-top: -14px;
    margin-left: -23px;
}



.has-sidebar {

    main {
        padding-left: 270px;
    }

}

main {

    &.write {
        background: #EFEFEF;

    
        .main {
            background: white;
            min-height: 100vh;

            .wrapper {
                margin-top: 60px;
            }

        }

    }

}

#initModal {
    top: 25% !important;
    max-width: 600px;

    .modal-content {
        text-align: center;

        h5 {
            margin-top: 0;
            margin-bottom: 30px;
        }

        .icon {
            display: block;
            background-position: center center;
            height: 90px;

            &.personal {
                background: url('/img/personal.svg') no-repeat center center;
            }

            &.timeless {
                background: url('/img/timeless.svg') no-repeat center center;
            }

            &.thoughtful {
                background: url('/img/thoughtful.svg') no-repeat center center;
            }

        }

    }

}

.lean-overlay {
    background: white;
    opacity: 0.8 !important;
}

.info-button {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 25px;

    a {
        color: #777;
    }

}