.side-nav {
    width: 270px;
    padding: 0 1rem;

    li {
        margin-bottom: 2rem;
    }

    


    .logo {
        margin-top: 1.5rem;

        a {
            height: auto;

            &:hover {
                background: transparent;
            }

        }

        .icon {
            font-size: 3.5rem;

        }

        .word {

            h1 {
                margin-top: 0;
                font-size: 3rem;
                font-weight: 300;
            }

        }

    }

    .sendLetter {

        a.btn {
            height: 3rem;
            line-height: 3rem;
        }

    }

    .pricing {
        margin: 0 1rem;
        line-height: 1.3rem;

        table {

            tfoot {
                border-top: 1px solid #d0d0d0;
            }

        }


    }

    .row {
        margin: 0 0.25rem;

        a.btn {
            height: 2.5rem;
            line-height: 2.5rem;
            margin: 0;
        }

        h5 {
            margin-bottom: 0.43rem;
            margin-top: 0.43rem
        }


    }


}