#to-address {

    &.modal {
        top: 5% !important;
        max-height: 90vh;
        width: 70%;
        padding-top: 5vh;
        padding-bottom: 5vh;

        .fade.ng-hide-add {
        }


        .fade.ng-hide-remove {
        }

        .row {
            max-width: 700px;
        }

    }

}