<div id="csv-to-address">
            <form autocomplete="on">
                <div class="row">
                    <div class="col s12">
                        <h4>Upload a CSV</h4>
                    </div>
                    <br>
                    <div class="file-field input-field col s6">
                        <div class="btn blue lighten-2">
                            <span>File</span>
                            <input ng-blur="main.uploadFile()" id="csv-uploader" type="file" accept=".csv">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                        </div>
                    </div>
                </div>
            </form>
        </div>