<main class="fromAddress">
    <div class="main container">
        <div id="return-address">
            <form autocomplete="on">
                <div class="row">
                    <div class="col s12">
                        <h4>Return Address</h4>    
                    </div>
                    <div class="input-field col s12">
                        <input ng-model="main.from_name" id="from_name" type="text" class="validate">
                        <label for="from_name">From Name (Or Company)</label>
                    </div>
                    <div id="email" class="input-field col s12">
                        <input ng-model="main.userEmail" id="user_email" type="text" class="validate">
                        <label for="from_address">Your Email Address</label>
                        <small class="grey-text">For Our Use Only. See Privacy Policy <a class="close" ui-sref="policies">here</a></small>
                        
                    </div>
                    <div class="input-field col s12">
                        <input ng-model="main.from_address" id="from_address" type="text" class="validate">
                        <label for="from_address">Return Address</label>
                    </div>
                    <div class="input-field col s12">
                        <input ng-model="main.from_address2" id="from_address2" type="text" class="validate">
                        <label for="from_address2">Return Address 2</label>
                    </div>
                    <div class="input-field col s4">
                        <input ng-model="main.from_address_zip" id="return_zip" type="text" class="validate">
                        <label for="return_zip">Zip Code</label>
                    </div>
                    <div class="input-field col s5">
                        <input ng-model="main.from_address_city" id="return_city" type="text" class="validate">
                        <label for="return_city">City</label>
                    </div>
                    <div class="input-field col s3">
                        <select ng-model="main.from_address_state"><option value="" disabled selected>State</option><option value="AL">AL</option><option value="AK">AK</option><option value="AZ">AZ</option><option value="AR">AR</option><option value="CA">CA</option><option value="CO">CO</option><option value="CT">CT</option><option value="DE">DE</option><option value="DC">DC</option><option value="FL">FL</option><option value="GA">GE</option><option value="HI">HI</option><option value="ID">ID</option><option value="IL">IL</option><option value="IN">IN</option><option value="IA">IA</option><option value="KS">KS</option><option value="KY">KY</option><option value="LA">LA</option><option value="ME">ME</option><option value="MD">MD</option><option value="MA">MA</option><option value="MI">MI</option><option value="MN">MN</option><option value="MS">MS</option><option value="MO">MO</option><option value="MT">MT</option><option value="NE">NE</option><option value="NV">NV</option><option value="NH">NH</option><option value="NJ">NJ</option><option value="NM">NM</option><option value="NY">NY</option><option value="NC">NC</option><option value="ND">ND</option><option value="OH">OH</option><option value="OK">OK</option><option value="OR">OR</option><option value="PA">PA</option><option value="RI">RI</option><option value="SC">SC</option><option value="SD">SD</option><option value="TN">TN</option><option value="TX">TX</option><option value="UT">UT</option><option value="VT">VT</option><option value="VA">VA</option><option value="WA">WA</option><option value="WV">WV</option><option value="WI">WI</option><option value="WY">WY</option></select>
                    </div>
                </div>
                <button ui-sref="main" type="button" ng-click="showFromDetails = ! showFromDetails" class="blue lighten-2 white-text waves-effect waves-light btn">Submit</button>
            </form>
        </div>
        <a class="back red-text text-lighten-2" ui-sref="main"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back</a>
    </div>
</main>