
<nav class="top-nav">
    <div class="nav-wrapper container">
        <a ui-sref="main" class="brand-logo"><i class="fa fa-envelope" aria-hidden="true"></i> Lettil <small>- Mail a letter as easily as sending an email.</small></a>
        <ul class="right hide-on-med-and-down">
            <li ui-sref-active="active"><a ui-sref="main">Mail</a></li>
            <li ui-sref-active="active"><a ui-sref="about">About</a></li>
            <li ui-sref-active="active"><a ui-sref="faq">FAQ</a></li>
            <li ui-sref-active="active"><a ui-sref="policies">Policies</a></li>
        </ul>
    </div>
</nav>