<ul id="nav-mobile" class="side-nav fixed white" style="transform: translateX(0%);">
    <li class="logo">
        <a ui-sref="main" class="brand-logo blue-text text-lighten-2 center-align">
            <div class="icon"><i class="fa fa-envelope" aria-hidden="true"></i></div>
            
            <div class="word"><h1>Lettil</h1></div>
            
        </a>
    </li>

    <li class="from">
        <div class="row">
            <div class="col s5">
                <h5>From</h5>
            </div>
            <div class="col s7"> 
                <a ng-click="main.openThisModal('return-address')" class="btn blue lighten-2 white-text waves-effect waves-light"><span ng-show="main.from_name.length" >edit</span><span ng-hide="main.from_name.length">Add</span></a>
            </div>
        </div>
    </li>
    <li class="to">
        <div class="row">
            <div class="col s5">
                <h5>To</h5>
            </div>
            <div class="col s7"> 
                <a ng-click="main.openThisModal('to-address')" class="btn blue lighten-2 white-text waves-effect waves-light"><span ng-show="main.to_name.length">edit</span><span ng-show="!main.to_name.length">Add</span></a>
            </div>
        </div>
    </li>
    
    
    <li class="pricing">
        <table>
            <thead>
            <tr>
                <th data-field="id">Cost</th>
                <th data-field="price">Quantity</th>
            </tr>
            </thead>

            <tbody>
                <tr>
                    <td>$2.00/Campaign</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>$0.85/Address</td>
                    <td ng-bind="main.numberOfAddresses"></td>
                </tr>
                <tr>
                    <td>$0.10/Page</td>
                    <td ng-bind="main.pageId"></td>
                </tr>
                
            </tbody>
            <tfoot>
                <tr>
                    <td><strong>Total</strong></td>
                    <td ng-bind="main.totalPrice"></td>
                </tr>
            </tfoot>
        </table>
    </li>
    <li class="sendLetter">
        <a ng-click="main.openThisModal('ready')" class="btn orange lighten-2 white-text waves-effect waves-light">Mail Letter</a>
    </li>


</ul>

<main class="write">
    <div class="container-wrapper">
        <div class="container main z-depth-1">
            <div class="row">
                <div class="col s12">
                    <div class="page one">
                        <div class="page-content">
                           <div id="actualEditor" class="wrapper" ng-non-bindable>
                               <h2>Hey There!</h2><p>This little app enables you to send physical letters as easily as an email.</p><p>To as many people as you'd like!</p><p>Upload a <strong>CSV</strong> to send to multiple people or mail it to a single address</p><p>You can also upload <strong>variables</strong> from a CSV with Addresses to your letter. Any unrecognized fields will automatically be added as variables.</p><p>To use the variables in your letter just type it like this: {{variable_name}} &lt;-- No Spaces</p><p>Thanks! And have fun!</p><p>Hey There!</p><p>This little app enables you to send physical letters as easily as an email.</p><p>To as many people as you'd like!</p><p>Upload a CSV to send to multiple people or mail it to a single address</p><p>You can also upload variables from a CSV with Addresses to your letter. Any unrecognized fields will automatically be added as variables.</p><p>To use the variables in your letter just type it like this: {{variable_name}} &lt;-- No Spaces</p><p>Thanks! And have fun!</p><p>Hey There!</p><p>This little app enables you to send physical letters as easily as an email.</p><p>To as many people as you'd like!</p><p>Upload a CSV to send to multiple people or mail it to a single address</p><p>You can also upload variables from a CSV with Addresses to your letter. Any unrecognized fields will automatically be added as variables.</p><p>To use the variables in your letter just type it like this: {{variable_name}} &lt;-- No Spaces</p><p>Thanks! And have fun!</p><p>Hey There!</p><p>This little app enables you to send physical letters as easily as an email.</p><p>To as many people as you'd like!</p><p>Upload a CSV to send to multiple people or mail it to a single address</p><p>You can also upload variables from a CSV with Addresses to your letter. Any unrecognized fields will automatically be added as variables.</p><p>To use the variables in your letter just type it like this: {{variable_name}} &lt;-- No Spaces</p><p>Thanks! And have fun!</p><p>Hey There!</p><p>This little app enables you to send physical letters as easily as an email.</p><p>To as many people as you'd like!</p><p>Upload a CSV to send to multiple people or mail it to a single address</p><p>You can also upload variables from a CSV with Addresses to your letter. Any unrecognized fields will automatically be added as variables.</p><p>To use the variables in your letter just type it like this: {{variable_name}} &lt;-- No Spaces</p><p>Thanks! And have fun!</p> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fixed-signature">
                <div class="page">
                    <div class="row">
                        <div class="col s6">
                            <h2 class="signature" ng-bind="main.signature"></h2>
                        </div> 
                        <div class="col s6 input-signature">
                            <div class="row">
                                <div class="input-field col s12">
                                    <input ng-keypress="main.forLobFormating()" ng-model="main.signature" value="" id="signature" type="text" class="validate">
                                    <label for="main.signature">Signature</label>
                                </div>   
                            </div>
                        </div>   
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
    

<div id="ready" class="modal align-center">
    <div class="modal-content">
        <div class="row">
            <h6 class="col s12 center-align">Are you ready to mail?</h6>
            <div class="col s6">
                <p ng-class="{ 'hide': ! showFromDetails }">
                    <span class="bold">From:</span> <span ng-bind="main.from_name"></span>
                    <br>
                    <span ng-bind="main.from_address"></span>
                    <span ng-show="main.from_address2.length">
                        <br>
                        <span ng-bind="main.from_address2"></span>
                    </span>
                    <br>
                    <span ng-bind="main.from_address_zip"></span>
                    <span ng-show="main.from_address_city.length"> </span>
                    <span ng-bind="main.from_address_city"></span>
                    <span ng-show="main.from_address_state.length">, </span>
                    <span ng-bind="main.from_address_state"></span>
                </p>
            </div>
            <div class="col s6">
                <p ng-class="{ 'hide': ! showToDetails }">
                    <span class="bold">To:</span> <span ng-bind="main.to_name"></span>
                    <br>
                    <span ng-bind="main.to_address"></span>
                    <span ng-show="main.to_address2.length">
                        <br>
                        <span ng-bind="main.to_address2"></span>
                    </span>
                    <br>
                    <span ng-bind="main.to_address_zip"></span>
                    <span ng-show="main.to_address_city.length"> </span>
                    <span ng-bind="main.to_address_city"></span>
                    <span ng-show="main.to_address_state.length">, </span>
                    <span ng-bind="main.to_address_state"></span>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col s6 center-align">
                <button id="close" class="btn blue">No</button>
            </div>
            <div class="cols6 center-align">
                <button id="pay" class="btn blue">Yes</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Structure -->
<div id="to-address" class="modal">
    <form autocomplete="on">
        <div class="modal-content">
            <div class="row">
                <div class="col s12 center-align">
                    <h4>To Address</h4>    
                </div>
            </div>
            <div class="row">
                <div class="col s12 center-align">
                    <!-- Switch -->
                    <div class="switch">
                        <label>
                        CSV Import
                        <input ng-model="main.manyAddresses" ng-false-value="'multiple'" ng-true-value="'single'" type="checkbox">
                        <span class="lever"></span>
                        One Address
                        </label>
                    </div>
                </div>
                <br>
            </div>
            <br>
            <div class="row fade" ng-show="main.manyAddresses == 'multiple'">
                <div class="file-field input-field col s6 offset-s3 center-align">
                    <div class="btn blue lighten-2">
                        <span>File</span>
                        <input ng-blur="main.uploadFile()" id="csv-uploader" type="file" accept=".csv">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text">
                    </div>
                </div>
            </div>
            <div class="row fade" ng-show="main.manyAddresses == 'single'">
                <div class="input-field col s12">
                    <input ng-required="required" ng-model="main.to_name" id="to_name" type="text" class="validate">
                    <label for="to_name">To</label>
                </div>
                <div class="input-field col s12">
                    <input ng-model="main.to_address" id="to_address" type="text" class="validate">
                    <label for="to_address">To Address</label>
                </div>
                <div class="input-field col s12">
                    <input ng-model="main.to_address2" id="to_address2" type="text" class="validate">
                    <label for="to_address2">To Address 2</label>
                </div>
                <div class="input-field col s4">
                    <input ng-model="main.to_address_zip" id="to_zip" type="text" class="validate">
                    <label for="to_zip">Zip Code</label>
                </div>
                <div class="input-field col s5">
                    <input ng-model="main.to_address_city" id="to_city" type="text" class="validate">
                    <label for="to_city">City</label>
                </div>
                <div class="input-field col s3">
                    <select ng-model="main.to_address_state"><option value="" disabled selected>State</option><option value="AL">AL</option><option value="AK">AK</option><option value="AZ">AZ</option><option value="AR">AR</option><option value="CA">CA</option><option value="CO">CO</option><option value="CT">CT</option><option value="DE">DE</option><option value="DC">DC</option><option value="FL">FL</option><option value="GA">GE</option><option value="HI">HI</option><option value="ID">ID</option><option value="IL">IL</option><option value="IN">IN</option><option value="IA">IA</option><option value="KS">KS</option><option value="KY">KY</option><option value="LA">LA</option><option value="ME">ME</option><option value="MD">MD</option><option value="MA">MA</option><option value="MI">MI</option><option value="MN">MN</option><option value="MS">MS</option><option value="MO">MO</option><option value="MT">MT</option><option value="NE">NE</option><option value="NV">NV</option><option value="NH">NH</option><option value="NJ">NJ</option><option value="NM">NM</option><option value="NY">NY</option><option value="NC">NC</option><option value="ND">ND</option><option value="OH">OH</option><option value="OK">OK</option><option value="OR">OR</option><option value="PA">PA</option><option value="RI">RI</option><option value="SC">SC</option><option value="SD">SD</option><option value="TN">TN</option><option value="TX">TX</option><option value="UT">UT</option><option value="VT">VT</option><option value="VA">VA</option><option value="WA">WA</option><option value="WV">WV</option><option value="WI">WI</option><option value="WY">WY</option></select>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" ng-click="showToDetails = ! showToDetails" class="modal-action modal-close waves-effect waves-green btn-flat">Submit</button>
        </div>
    </form>
</div>
<!-- Modal Structure -->
<div id="return-address" class="modal">
    <form>
        <div class="modal-content">
            <div class="row">
                <div class="col s12 center-align">
                    <h4>Return Address</h4>    
                </div>
                <div class="input-field col s12">
                    <input ng-model="main.from_name" id="from_name" type="text" class="validate">
                    <label for="from_name">From</label>
                </div>
                <div id="email" class="input-field col s12">
                    <input ng-model="main.userEmail" id="user_email" type="text" class="validate">
                    <label for="from_address">Your Email Address</label>
                    <small class="grey-text">For Our Use Only. See Privacy Policy <a class="close" ui-sref="policies">here</a></small>
                    
                </div>
                <div class="input-field col s12">
                    <input ng-model="main.from_address" id="from_address" type="text" class="validate">
                    <label for="from_address">Return Address</label>
                </div>
                <div class="input-field col s12">
                    <input ng-model="main.from_address2" id="from_address2" type="text" class="validate">
                    <label for="from_address2">Return Address 2</label>
                </div>
                <div class="input-field col s4">
                    <input ng-model="main.from_address_zip" id="return_zip" type="text" class="validate">
                    <label for="return_zip">Zip Code</label>
                </div>
                <div class="input-field col s5">
                    <input ng-model="main.from_address_city" id="return_city" type="text" class="validate">
                    <label for="return_city">City</label>
                </div>
                <div class="input-field col s3">
                    <select ng-model="main.from_address_state"><option value="" disabled selected>State</option><option value="AL">AL</option><option value="AK">AK</option><option value="AZ">AZ</option><option value="AR">AR</option><option value="CA">CA</option><option value="CO">CO</option><option value="CT">CT</option><option value="DE">DE</option><option value="DC">DC</option><option value="FL">FL</option><option value="GA">GE</option><option value="HI">HI</option><option value="ID">ID</option><option value="IL">IL</option><option value="IN">IN</option><option value="IA">IA</option><option value="KS">KS</option><option value="KY">KY</option><option value="LA">LA</option><option value="ME">ME</option><option value="MD">MD</option><option value="MA">MA</option><option value="MI">MI</option><option value="MN">MN</option><option value="MS">MS</option><option value="MO">MO</option><option value="MT">MT</option><option value="NE">NE</option><option value="NV">NV</option><option value="NH">NH</option><option value="NJ">NJ</option><option value="NM">NM</option><option value="NY">NY</option><option value="NC">NC</option><option value="ND">ND</option><option value="OH">OH</option><option value="OK">OK</option><option value="OR">OR</option><option value="PA">PA</option><option value="RI">RI</option><option value="SC">SC</option><option value="SD">SD</option><option value="TN">TN</option><option value="TX">TX</option><option value="UT">UT</option><option value="VT">VT</option><option value="VA">VA</option><option value="WA">WA</option><option value="WV">WV</option><option value="WI">WI</option><option value="WY">WY</option></select>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" ng-click="showFromDetails = ! showFromDetails" class="modal-action modal-close waves-effect waves-green btn-flat">Submit</button>
        </div>
    </form>
</div>

<div id="initModal" class="modal align-center">
    <div class="modal-content">
        <h5>Letters are great because they are...</h5>
        <div class="row">
            <div class="col s4">
                <div class="personal icon"></div>
                <p>Personal</p>
            </div>
            <div class="col s4">
                <div class="thoughtful icon"></div>
                <p>Thoughtful</p>
            </div>
            <div class="col s4">
                <div class="timeless icon"></div>
                <p>Timeless</p>
            </div>
            
        </div>
        <button ng-click="main.initModalClose()" class="btn orange lighten-2 white-text waves-effect waves-light modal-action"><i class="fa fa-thumbs-up" aria-hidden="true"></i> You're Right!</button>
    </div>
</div>

<div class="info-button">
    <a href="#!"><i class="fa fa-question-circle" aria-hidden="true"></i></a>
</div>



<div id="letterFormattedForPrint" ng-non-bindable>

</div>