<div class="container-wrapper">
    <div class="container main">
        <div class="row address-information">
            <div class="col s6 m8 from">
                <div class="row">
                    <div class="col s5">
                        <h5>Return Address</h5>
                    </div>
                    <div class="col s7">
                        <button class="trigger-modal return-address blue lighten-2 btn"><span ng-show="main.from_name.length" >edit</span><span ng-hide="main.from_name.length">Add</span></button>
                    </div>
                </div>
                <div class="row to-cta">
                    <div class="col s5">
                        <h5>To Address</h5>
                    </div>
                    <div class="col s7">
                        <p><button class="trigger-modal to-address blue lighten-2 btn"><span ng-show="main.to_name.length">edit</span><span ng-show="!main.to_name.length">Add</span></button> <span class="or">or</span> <a href="#" class="import-csv-modal">Upload A CSV</a> <a class="remove-csv red-text" ng-click="main.removeCsv()" ng-show="mailMultiple"><i class="fa fa-times" aria-hidden="true"></i></a></p>
                    </div>    
                </div>
            </div>
            <div class="col s6 m4 to">
                <div class="row">
                    
                    <div class="col s12">
                        <button ng-click="main.sendLetter()" type="button" class="btn light-green lighten-2 waves-effect waves-light">Mail My Letter</button>
                    </div>
                    <div class="col s12">
                        <h6>$2 + $0.95 per address</h6>
                        <p>See our bulk pricing table</p>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <br>
        <div class="row" ng-keydown="main.checkForPage()" ng-keypress="main.keypress()">
            <div class="col s12">
                <div class="page one">
                    <div class="page-content" ng-keydown="main.checkForPage()" ng-paste="main.checkForPage()">
                        <div class="wrapper">
                            <h2>What is Lorem Ipsum?</h2><p><strong>Lorem Ipsum</strong> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p><h2>Why do we use it?</h2><p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p><h2>Where does it come from?</h2><p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p><p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="fixed-signature">
    <div class="container">
        <div class="page">
            <div class="row">
                <div class="col s6">
                    <h2 class="signature" ng-bind="main.signature"></h2>
                </div> 
                <div class="col s6 input-signature">
                    <div class="row">
                        <div class="input-field col s12">
                            <input ng-model="main.signature" value=" " id="signature" type="text" class="validate">
                            <label for="main.signature">Signature</label>
                        </div>   
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>

<!-- Modal Structure -->
<div id="to-address" class="modal">
    <form autocomplete="on">
        <div class="modal-content">
            
            <div class="row">
                <div class="col s5">
                    <h4>To Address</h4>    
                </div>
                <div class="col s7">
                    <p class="right-align">Upload a CSV here</p>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input ng-required="required" ng-model="main.to_name" id="to_name" type="text" class="validate">
                    <label for="to_name">To</label>
                </div>
                <div class="input-field col s12">
                    <input ng-model="main.to_address" id="to_address" type="text" class="validate">
                    <label for="to_address">To Address</label>
                </div>
                <div class="input-field col s12">
                    <input ng-model="main.to_address2" id="to_address2" type="text" class="validate">
                    <label for="to_address2">To Address 2</label>
                </div>
                <div class="input-field col s4">
                    <input ng-model="main.to_address_zip" id="to_zip" type="text" class="validate">
                    <label for="to_zip">Zip Code</label>
                </div>
                <div class="input-field col s5">
                    <input ng-model="main.to_address_city" id="to_city" type="text" class="validate">
                    <label for="to_city">City</label>
                </div>
                <div class="input-field col s3">
                    <select ng-model="main.to_address_state"><option value="" disabled selected>State</option><option value="AL">AL</option><option value="AK">AK</option><option value="AZ">AZ</option><option value="AR">AR</option><option value="CA">CA</option><option value="CO">CO</option><option value="CT">CT</option><option value="DE">DE</option><option value="DC">DC</option><option value="FL">FL</option><option value="GA">GE</option><option value="HI">HI</option><option value="ID">ID</option><option value="IL">IL</option><option value="IN">IN</option><option value="IA">IA</option><option value="KS">KS</option><option value="KY">KY</option><option value="LA">LA</option><option value="ME">ME</option><option value="MD">MD</option><option value="MA">MA</option><option value="MI">MI</option><option value="MN">MN</option><option value="MS">MS</option><option value="MO">MO</option><option value="MT">MT</option><option value="NE">NE</option><option value="NV">NV</option><option value="NH">NH</option><option value="NJ">NJ</option><option value="NM">NM</option><option value="NY">NY</option><option value="NC">NC</option><option value="ND">ND</option><option value="OH">OH</option><option value="OK">OK</option><option value="OR">OR</option><option value="PA">PA</option><option value="RI">RI</option><option value="SC">SC</option><option value="SD">SD</option><option value="TN">TN</option><option value="TX">TX</option><option value="UT">UT</option><option value="VT">VT</option><option value="VA">VA</option><option value="WA">WA</option><option value="WV">WV</option><option value="WI">WI</option><option value="WY">WY</option></select>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" ng-click="showToDetails = ! showToDetails" class="modal-action modal-close waves-effect waves-green btn-flat">Submit</button>
        </div>
    </form>
</div>
<!-- Modal Structure -->
<div id="return-address" class="modal">
    <form>
        <div class="modal-content">
            <div class="row">
                <div class="col s12">
                    <h4>Return Address</h4>    
                </div>
                <div class="input-field col s12">
                    <input ng-model="main.from_name" id="from_name" type="text" class="validate">
                    <label for="from_name">From</label>
                </div>
                <div id="email" class="input-field col s12">
                    <input ng-model="main.userEmail" id="user_email" type="text" class="validate">
                    <label for="from_address">Your Email Address</label>
                    <small class="grey-text">For Our Use Only. See Privacy Policy <a class="close" ui-sref="policies">here</a></small>
                    
                </div>
                <div class="input-field col s12">
                    <input ng-model="main.from_address" id="from_address" type="text" class="validate">
                    <label for="from_address">Return Address</label>
                </div>
                <div class="input-field col s12">
                    <input ng-model="main.from_address2" id="from_address2" type="text" class="validate">
                    <label for="from_address2">Return Address 2</label>
                </div>
                <div class="input-field col s4">
                    <input ng-model="main.from_address_zip" id="return_zip" type="text" class="validate">
                    <label for="return_zip">Zip Code</label>
                </div>
                <div class="input-field col s5">
                    <input ng-model="main.from_address_city" id="return_city" type="text" class="validate">
                    <label for="return_city">City</label>
                </div>
                <div class="input-field col s3">
                    <select ng-model="main.from_address_state"><option value="" disabled selected>State</option><option value="AL">AL</option><option value="AK">AK</option><option value="AZ">AZ</option><option value="AR">AR</option><option value="CA">CA</option><option value="CO">CO</option><option value="CT">CT</option><option value="DE">DE</option><option value="DC">DC</option><option value="FL">FL</option><option value="GA">GE</option><option value="HI">HI</option><option value="ID">ID</option><option value="IL">IL</option><option value="IN">IN</option><option value="IA">IA</option><option value="KS">KS</option><option value="KY">KY</option><option value="LA">LA</option><option value="ME">ME</option><option value="MD">MD</option><option value="MA">MA</option><option value="MI">MI</option><option value="MN">MN</option><option value="MS">MS</option><option value="MO">MO</option><option value="MT">MT</option><option value="NE">NE</option><option value="NV">NV</option><option value="NH">NH</option><option value="NJ">NJ</option><option value="NM">NM</option><option value="NY">NY</option><option value="NC">NC</option><option value="ND">ND</option><option value="OH">OH</option><option value="OK">OK</option><option value="OR">OR</option><option value="PA">PA</option><option value="RI">RI</option><option value="SC">SC</option><option value="SD">SD</option><option value="TN">TN</option><option value="TX">TX</option><option value="UT">UT</option><option value="VT">VT</option><option value="VA">VA</option><option value="WA">WA</option><option value="WV">WV</option><option value="WI">WI</option><option value="WY">WY</option></select>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" ng-click="showFromDetails = ! showFromDetails" class="modal-action modal-close waves-effect waves-green btn-flat">Submit</button>
        </div>
    </form>
</div>
<!-- Modal Structure -->
<div id="csv-to-address" class="modal">
    <form>
        <div class="modal-content">
            <div class="row">
                <div class="col s12">
                    <h4>Upload a CSV</h4>
                </div>
                <hr>
                <br>
                <div class="file-field input-field col s6">
                    <div class="btn">
                        <span>File</span>
                        <input id="csv-uploader" type="file" accept=".csv">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text">
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" ng-click="main.uploadFile()" class="modal-action modal-close waves-effect waves-green btn-flat">Submit</button>
        </div>
    </form>
</div>


<div id="ready" class="modal align-center">
    <div class="modal-content">
        <div class="row">
            <h6 class="col s12 center-align">Are you ready to mail?</h6>
            <div class="col s6">
                <p ng-class="{ 'hide': ! showFromDetails }">
                    <span class="bold">From:</span> <span ng-bind="main.from_name"></span>
                    <br>
                    <span ng-bind="main.from_address"></span>
                    <span ng-show="main.from_address2.length">
                        <br>
                        <span ng-bind="main.from_address2"></span>
                    </span>
                    <br>
                    <span ng-bind="main.from_address_zip"></span>
                    <span ng-show="main.from_address_city.length"> </span>
                    <span ng-bind="main.from_address_city"></span>
                    <span ng-show="main.from_address_state.length">, </span>
                    <span ng-bind="main.from_address_state"></span>
                </p>
            </div>
            <div class="col s6">
                <p ng-class="{ 'hide': ! showToDetails }">
                    <span class="bold">To:</span> <span ng-bind="main.to_name"></span>
                    <br>
                    <span ng-bind="main.to_address"></span>
                    <span ng-show="main.to_address2.length">
                        <br>
                        <span ng-bind="main.to_address2"></span>
                    </span>
                    <br>
                    <span ng-bind="main.to_address_zip"></span>
                    <span ng-show="main.to_address_city.length"> </span>
                    <span ng-bind="main.to_address_city"></span>
                    <span ng-show="main.to_address_state.length">, </span>
                    <span ng-bind="main.to_address_state"></span>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col s6 center-align">
                <button id="close" class="btn blue">No</button>
            </div>
            <div class="cols6 center-align">
                <button id="pay" class="btn blue">Yes</button>
            </div>
        </div>
    </div>
</div>
