<ul id="nav-mobile" class="side-nav fixed white" style="transform: translateX(0%);">
    <li class="logo">
        <a ui-sref="main" class="brand-logo blue-text text-lighten-2 center-align">
            <div class="icon"><i class="fa fa-envelope" aria-hidden="true"></i></div>
            
            <div class="word"><h1>Lettil</h1></div>
            
        </a>
    </li>

    <li class="from">
        <div class="row">
            <div class="col s5">
                <h5>From</h5>
            </div>
            <div class="col s7"> 
                <a id="fromAddress" class="btn blue lighten-2 white-text waves-effect waves-light"><span ng-show="main.from_name.length" >edit</span><span ng-hide="main.from_name.length">Add</span></a>
            </div>
        </div>
    </li>
    <li class="to">
        <div class="row">
            <div class="col s5">
                <h5>To</h5>
            </div>
            <div class="col s7"> 
                <a id="toAddress" class="btn blue lighten-2 white-text waves-effect waves-light"><span ng-show="main.to_name.length">edit</span><span ng-show="!main.to_name.length">Add</span></a>
            </div>
        </div>
    </li>
    
    
    <li class="pricing">
        <table>
            <thead>
            <tr>
                <th data-field="id">Cost</th>
                <th data-field="price">Quantity</th>
            </tr>
            </thead>

            <tbody>
                <tr>
                    <td>$3.00/Campaign</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>$0.85/Address</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>$0.10/Page</td>
                    <td>1</td>
                </tr>
                
            </tbody>
            <tfoot>
                <tr>
                    <td><strong>Total</strong></td>
                    <td>$3.95</td>
                </tr>
            </tfoot>
        </table>
    </li>
    <li class="sendLetter">
        <a id="sendLetter" class="btn orange lighten-2 white-text waves-effect waves-light">Mail Letter</a>
    </li>


</ul>