<div class="container" id="success" >
    <div class="row">
        <div class="col s12 center">
            <h2>Success!</h2>
            <p ng-bind="success.res">We'll send you a confirmation email as soon as your letters have been queued for printing.</p>
            

        </div>
    </div>
</div>