<main class="toAddress">
    <div class="main container">
        
        <div id="csv-to-address">
            <form autocomplete="on">
                <div class="row">
                    <div class="col s12">
                        <h4>Upload a CSV</h4>
                    </div>
                    <br>
                    <div class="file-field input-field col s6">
                        <div class="btn blue lighten-2">
                            <span>File</span>
                            <input ng-blur="main.uploadFile()" id="csv-uploader" type="file" accept=".csv">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div id="to-address">
            <form autocomplete="on">
                    
                    <div class="row">
                        <div class="col s12">
                            <h4>To Address</h4>    
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input ng-required="required" ng-model="main.to_name" id="to_name" type="text" class="validate">
                            <label for="to_name">To</label>
                        </div>
                        <div class="input-field col s12">
                            <input ng-model="main.to_address" id="to_address" type="text" class="validate">
                            <label for="to_address">To Address</label>
                        </div>
                        <div class="input-field col s12">
                            <input ng-model="main.to_address2" id="to_address2" type="text" class="validate">
                            <label for="to_address2">To Address 2</label>
                        </div>
                        <div class="input-field col s4">
                            <input ng-model="main.to_address_zip" id="to_zip" type="text" class="validate">
                            <label for="to_zip">Zip Code</label>
                        </div>
                        <div class="input-field col s5">
                            <input ng-model="main.to_address_city" id="to_city" type="text" class="validate">
                            <label for="to_city">City</label>
                        </div>
                        <div class="input-field col s3">
                            <select ng-model="main.to_address_state"><option value="" disabled selected>State</option><option value="AL">AL</option><option value="AK">AK</option><option value="AZ">AZ</option><option value="AR">AR</option><option value="CA">CA</option><option value="CO">CO</option><option value="CT">CT</option><option value="DE">DE</option><option value="DC">DC</option><option value="FL">FL</option><option value="GA">GE</option><option value="HI">HI</option><option value="ID">ID</option><option value="IL">IL</option><option value="IN">IN</option><option value="IA">IA</option><option value="KS">KS</option><option value="KY">KY</option><option value="LA">LA</option><option value="ME">ME</option><option value="MD">MD</option><option value="MA">MA</option><option value="MI">MI</option><option value="MN">MN</option><option value="MS">MS</option><option value="MO">MO</option><option value="MT">MT</option><option value="NE">NE</option><option value="NV">NV</option><option value="NH">NH</option><option value="NJ">NJ</option><option value="NM">NM</option><option value="NY">NY</option><option value="NC">NC</option><option value="ND">ND</option><option value="OH">OH</option><option value="OK">OK</option><option value="OR">OR</option><option value="PA">PA</option><option value="RI">RI</option><option value="SC">SC</option><option value="SD">SD</option><option value="TN">TN</option><option value="TX">TX</option><option value="UT">UT</option><option value="VT">VT</option><option value="VA">VA</option><option value="WA">WA</option><option value="WV">WV</option><option value="WI">WI</option><option value="WY">WY</option></select>
                        </div>
                    </div>
                    <button ui-sref="main" type="submit" ng-click="showToDetails = ! showToDetails" class="modal-action  blue lighten-2 modal-close waves-effect waves-light btn">Submit</button>
            </form>
        </div>
        
        <a class="back red-text text-lighten-2" ui-sref="main"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back</a>
    </div>
</main>